<div class="about-container">
  <h1 id="greet">Hi there!</h1>
  <div class="about-text">
    <p id="italic"><em>Let me tell you a bit about myself...</em></p>
    <p class="paragraph"> Shortly after graduating from high school in 2022, I decide to move from Spain to Australia to experience a new culture and started studying an Advanced Diploma in Civil Construction Design.</p>

    <p class="paragraph"> I've always been interested in mathematics and design, so I started to explore web development as a perfect mix of logical problem-solving and creative design. I joined a full-stack Web Development Bootcamp to quickly upskill, and there I have gained proficiency in Ruby, Ruby on Rails, JavaScript, HTML and CSS, among others.</p>

    <p class="paragraph"> Coding has quickly become a fascinating pursuit for me, and I'm eager to keep expanding my coding expertise while embracing new technologies.</p>
  </div>
</div>
