<div class="line-up">
 <svg>
  <%= image_tag "../images/linea-removebg-preview.svg" %>
</svg>
</div>
<div class="banner">
    <h1 class="title-main">Noemí Radu</h1>
    <p class="col-9">Full - Stack   Developer</p>
</div>
