<div class="contact d-flex flex-column">
  <div class="contact-title">
    <h1>Contact me</h1>
  </div>
  <div class="d-flex justify-content-around">
    <div class="d-flex flex-column aling-items-center">
      <i class="fa-solid fa-phone" style="color: #f2f2f2;"></i>
      <p>(+61) 470 683 555</p>
    </div>
    <div class="d-flex flex-column aling-items-center">
      <i class="fa-regular fa-envelope" style="color: #f2f2f2;"></i>
      <p>noemiradu12@gmail.com</p>
    </div>
    <a href="https://www.linkedin.com/in/noemi-radu-netoiu-7b021328b/" target="_blank" ><i class="fa-brands fa-linkedin" style="color: #f2f2f2;"></i></a>
  </div>
  <div class="dlex">
    <a href="https://github.com/noemir26"><i class="fa-brands fa-square-github" style="color: #f2f2f2;"></i>
    <i class="fa-solid fa-file-arrow-down" style="color: #f2f2f2;"></i>
  </div>
</div>
