<div class="about-page">
  <div class="about-title">
    <h1>About me</h1>
  </div>
  <div class="about-box">
    <div class="about-card">
      <%= image_tag "cats.png", class: "rand-img" %>
      <p>I love to spend time with my cats</p>
    </div>
    <div class="about-card">
      <%= image_tag "greys.png", class: "rand-img" %>
      <p>I'm a huge Grey's Anatomy fan</p>
    </div>
    <div class="about-card">
      <%= image_tag "sarten.png", class: "rand-img" %>
      <p>I really enjoy cooking</p>
    </div>
  </div>
</div>
