<div class="contact d-flex flex-column">
  <div class="contact-title">
    <h1>About me</h1>
  </div>
  <div class="d-flex justify-content-around mb-5">
    <div class="contact-card">
      <%= image_tag "cats.png", class: "rand-img" %>
      <p>I love to spend time with my cats</p>
    </div>
    <div class="contact-card">
      <%= image_tag "greys.png", class: "rand-img" %>
      <p>I'm a huge Grey's Anatomy fan</p>
    </div>
    <div class="contact-card">
      <%= image_tag "sarten.png", class: "rand-img" %>
      <p>I really enjoy cooking</p>
    </div>
  </div>
  <%# <div class="d-flex justify-content-around">
    <div class="contact-card">
      <a href="https://www.linkedin.com/in/noemi-radu-netoiu-7b021328b/" target="_blank"><i class="icon fa-brands fa-linkedin" style="color: #f2f2f2;"></i></a>
    </div>
    <div class="contact-card">
      <a href="https://github.com/noemir26" target="_blank"><i class="icon fa-brands fa-square-github" style="color: #f2f2f2;"></i></a>
    </div>
  </div> %>
</div>
