section {
  text-align: center;

  h1 {
    font-size: 2.6em;
    margin-bottom: 20px;
  }

  .end {
    margin-top: 30px;
    font-size: 2.8em;
    font-weight: bold;
    opacity: 0;
    transform: translateY(300px);
    transition: opacity, transform 1s;
    transition-delay: 1s;
  }
}
