// Define variables for your color scheme

// For example:
$blue: #2E53D6;
$yellow: #FFDE68;
$green: #08A205;
$red: #D62121;
$orange: #FAB642;
$sky-blue: #1DA6D8;
$light-gray: #F6F6F6;
$dark-gray: #2D2D2D;

$light-blue: #B1BDEB;
$dark-blue: #1D327D;
$gray: #868686;
$light-yellow: #FFE99A;
