// Define variables for your color scheme

// For example:
$red: #B81F06;
$blue: #4E7CC0;
$yellow: #FFC65A;
$orange: #B25725;
$green: #3F6404;
$dark-gray: #303030;
$gray: #868686;
$light-gray: #f0f0f0;
